@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
  height: 250px;
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

/* Logo ---------------- */
header {
  padding: 10px;
  background: #141414;
}

#logo {
  font-size: 6rem; 
  font-weight: bold;

  text-align: center;
}

#logo a {
  display: inline-block;
  transition-duration: 0.3s;
}

#l{
    color: #E40203;
}
#g{
    color: #FF8C01;
}
#b{
    color: #FEED01;
}
#t{
    color: #004DFE;
}

#l:hover, #g:hover, #b:hover, #t:hover{
  transform: scale(1.1);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#l:hover{
    background-image: url(imagens/lesbica.png);
}
#g:hover{
    background-image: url(imagens/gay.png);
}
#b:hover{
    background-image: url(imagens/bi.jpg);
}
#t:hover{
    background-image: url(imagens/Trans.png); 
}

/* Section dos filmes ------------------ */
section h2 {
  text-align: center;
  margin: 25px 0px;
}

.filmes {
  max-width: 1100px;
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20p;
}

.filme h3 {
  margin: 10px 0;
}

.filme{
    max-width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    
    /* margin-right: 20px; */
    
    position: relative;
}

.filme .nota {
  position: absolute;
  background: yellow;
}

/* responsivo ----- */
@media (max-width: 600px) {
  #logo {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .filme {
    width: 150px;
    margin-right: 5px;
    padding: 5px;
  }
  img{
    height: 200px;
  }
}