@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300;600&display=swap')
;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Zilla+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(191, 207, 216);
    background-image: url(imagens/pexels-ella-olsson-1640774.jpg);
    background-size: cover;
    background-position: center center;
}
header{
    background-color: rgb(204, 116, 1);
    height: 70px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
header > a#titulo{
    font-size: 3em;
    padding-top: 2px;
    font-family: Fredericka the Great;
}
header> a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.4em;
}
main{
    margin: auto;
    text-align: left;
    max-width: 750px;
    min-width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 30px;
    margin-bottom: 70px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.493);
    font-family: Zilla Slab;
    line-height: 2em;
}
li{
    margin-left: 25px;
}
h1{
    font-size: 2.2em;
}
h1,h2{
    font-family: Akaya Telivigala;
    text-align: center;
}
div{
    background-image: url(imagens/pexels-pixabay-45202.jpg);
    max-width: 750px;
    height: 450px;
    min-width: 300px;
    background-position: center center;
    background-repeat: no-repeat;

    background-size: cover;
    margin: 15px -10px;
    padding: 10px;
}
footer{
    text-align: center;
    background-color: rgb(204, 116, 1);
    color: white;
    padding: 6px;
}
footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}